@import '../../utils/colors';
@import '../../utils/fonts';

@font-face {
    font-family: 'arnamu';
    src: url('../../assets/fonts/arnamu.ttf'); 
}  

.custom-button {
    width           : 100%;
    padding         : 10px 20px;
    border          : none;
    border-radius   : 5px;
    background-color: @main-page-btn-background;
    color           : @font-color-basic;
    font-size       : @font-size-btn-form;
    cursor          : pointer;
    transition      : background-color 0.2s ease;
    font-family     : 'arnamu', fallback-fonts;
  }
  
  .custom-button:hover {
    background-color: @main-page-btn-hover;
    box-shadow      : 0 0 20px 5px @main-page-btn-shadow;
  }
  
  .custom-button:active {
    background-color: @main-page-btn-active;
  }
  