@keyframes dropDown {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes authZoomIn {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes authZoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.1);
  }
}
@keyframes spinXAnimation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@font-face {
  font-family: 'PostalShrift';
  src: url('../../../assets/fonts/PostalShrift.ttf');
}
.coffee-house-card {
  display: flex;
  width: 100%;
  padding: 100px 140px;
}
.coffee-house-card__left {
  flex: 0.55;
  background-color: #02020273;
}
.coffee-house-card__right {
  flex: 0.45;
  padding: 20px 0;
  background-color: #02020273;
}
.coffee-house-card__right__map-container {
  width: 100%;
  height: 400px;
}
.coffee-house-card__title {
  font-family: 'PostalShrift';
}
