@font-face {
  font-family: 'arnamu';
  src: url('../../../assets/fonts/arnamu.ttf');
}
.btn-main {
  padding: 20px 45px;
  font-size: 18px;
  font-family: 'arnamu', fallback-fonts;
  letter-spacing: 2px;
  color: #f9f4e6;
  background-color: #995f40;
  border-radius: 35px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.btn-main:hover {
  background-color: #855034;
  box-shadow: 0 0 20px 5px #e9bea5a1;
}
.btn-main:active {
  background-color: #64371f;
}
