@font-face {
  font-family: 'arnamu';
  src: url('../../assets/fonts/arnamu.ttf');
}
@font-face {
  font-family: 'PostalShrift';
  src: url('../../assets/fonts/PostalShrift.ttf');
}
.product-card {
  height: 85vh;
  width: 140vh;
  padding: 30px 30px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
  border-radius: 3%;
}
.product-card__top {
  display: flex;
}
.product-card__img-product {
  pointer-events: none;
  user-select: none;
  margin-left: 40px;
}
.product-card__img-product__img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 5px solid #BE815F;
  border-radius: 10px;
}
.product-card__rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  position: relative;
  pointer-events: none;
  user-select: none;
}
.product-card__rating__name {
  font-size: 48px;
  padding-bottom: 10px;
  font-family: 'PostalShrift';
}
.product-card__rating__img {
  width: 340px;
  height: 340px;
  object-fit: cover;
}
.product-card__rating__num {
  position: absolute;
  top: 50%;
  font-size: 82px;
  color: #995f40;
  text-align: center;
}
.product-card__buy {
  margin-left: 50px;
  width: 40vh;
  height: 34vh;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
  border: 3px solid #855034;
  border-radius: 20px;
}
.product-card__buy__price {
  font-size: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'arnamu';
  padding-top: 20px;
  padding-bottom: 230px;
  pointer-events: none;
  user-select: none;
}
.product-card__bottom {
  margin-left: 40px;
  margin-top: 10px;
  padding-right: 40px;
  font-family: 'arnamu';
  pointer-events: none;
  user-select: none;
}
.product-card__bottom h3 {
  font-size: 42px;
}
.product-card__bottom__one {
  font-size: 24px;
  background: linear-gradient(to right, #995f40, transparent 95%);
  transition: background 0.5s ease;
  margin-top: 5px;
}
.product-card__bottom__two {
  font-size: 24px;
  background: linear-gradient(to right, #64371f, transparent 95%);
  transition: background 0.5s ease;
  margin-top: 5px;
}
