@background-color         : #d5921a;
@font-color-basic         : #f9f4e6;
@font-color-additional    : #f1d881;
@navbar-color             : #644a353b;
@additional-color         : #5b5643;
@selected-input           : #6f47db;
@checkBox-background      : #ccc;
@checkBox-slider          : #fff;
@checkBox-active          : #2196F3;
@btn-form-static          : #007BFF;
@btn-form-hover           : #0056b3;
@btn-form-active          : #004085;
@border-icons             : #80431a;
@main-page-title          : #c4b42c;
@main-page-title-two      : #E9BEA5;
@main-page-text           : #BE815F;
@main-page-btn-background : #995f40;
@main-page-btn-hover      : #855034;
@main-page-btn-active     : #64371f;
@main-page-btn-shadow     : #e9bea5a1;
@message-box-color        : #854b1c80;
@message-box-border       : #f8f8f8c5;
@border-avatar            : #fff;
@product-menu-btn-active  : #b89b1e;
@color-price              : #d62b2b;
@color-calendar-active-day: #28921a;
