@keyframes dropDown {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes authZoomIn {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes authZoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.1);
  }
}
@keyframes spinXAnimation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoom_center {
  from {
    transform: translate(-50%, -50%) scale(0.1);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes slideInLeft {
  from {
    left: -100px;
  }
  to {
    left: 50px;
  }
}
@keyframes slideInRight {
  from {
    right: -100px;
  }
  to {
    right: 50px;
  }
}
@keyframes boomBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes boomBottomSlider {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@font-face {
  font-family: 'PostalShrift';
  src: url('../../assets/fonts/PostalShrift.ttf');
}
@font-face {
  font-family: 'arnamu';
  src: url('../../assets/fonts/arnamu.ttf');
}
@font-face {
  font-family: 'better-vcr_0';
  src: url('../../assets/fonts/better-vcr_0.ttf');
}
.main-contacts {
  display: flex;
  padding: 80px 100px;
  flex-direction: row-reverse;
}
.main-contacts__contact-header {
  text-align: left;
  padding: 40px 0;
  color: #E9BEA5;
  font-family: 'PostalShrift';
  font-size: 48px;
  pointer-events: none;
  user-select: none;
}
.main-contacts__right-section {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: zoom 0.5s ease-out;
}
.main-contacts__contact-subsection {
  padding: 30px 0;
  pointer-events: none;
  user-select: none;
}
.main-contacts__contact-subsection h3 {
  font-size: 24px;
  padding-bottom: 10px;
  font-family: 'better-vcr_0';
  color: #BE815F;
}
.main-contacts__white-fade {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #E9BEA5, transparent);
  align-self: center;
  border-radius: 100%;
}
.main-contacts__contact-subsection p {
  padding: 10px 0;
  font-family: 'arnamu';
  font-size: 24px;
  color: #ccc;
}
.main-contacts__best-coffee {
  position: absolute;
  right: 10px;
  top: 80%;
  transform: translateY(-70%);
}
.main-contacts__best-coffee img {
  width: 500px;
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}
.main-contacts__left-section {
  flex: 1;
  padding: 50px 50px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
  border-radius: 3%;
  animation: zoom 0.5s ease-out;
}
.main-contacts__left-section form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.main-contacts__left-section input,
.main-contacts .left-section textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-contacts__left-section textarea {
  height: 320px;
  font-size: 24px;
  resize: none;
  border: 2px solid #ccc;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-contacts__left-section input:focus,
.main-contacts .left-section textarea:focus {
  border-color: #64371f;
}
.main-contacts__left-section button {
  padding: 10px 20px;
  background-color: #995f40;
  font-size: 24px;
  color: #f9f4e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'arnamu', fallback-fonts;
}
.main-contacts__left-section button:hover {
  background-color: #855034;
  box-shadow: 0 0 20px 5px #e9bea5a1;
}
.main-contacts__left-section button:active {
  background-color: #64371f;
}
