@keyframes dropDown {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes authZoomIn {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes authZoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.1);
  }
}
@keyframes spinXAnimation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoom_center {
  from {
    transform: translate(-50%, -50%) scale(0.1);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes slideInLeft {
  from {
    left: -100px;
  }
  to {
    left: 50px;
  }
}
@keyframes slideInRight {
  from {
    right: -100px;
  }
  to {
    right: 50px;
  }
}
@keyframes boomBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes boomBottomSlider {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@font-face {
  font-family: 'PostalShrift';
  src: url('../../assets/fonts/PostalShrift.ttf');
}
.navbar {
  height: 80px;
  background-color: #644a353b;
  width: 100%;
  box-shadow: 0 10px 20px rgba(114, 60, 27, 0.473);
}
.navbar__basket-img {
  width: 30px;
  height: auto;
  margin-right: 15px;
  transition: transform 0.3s;
}
.navbar__basket-img:hover {
  transform: scale(1.2);
}
.navbar__avatar-img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s;
}
.navbar__avatar-img:hover {
  transform: scale(1.2);
}
.navbar__exit-img {
  width: 25px;
  height: auto;
  transition: transform 0.3s;
  cursor: pointer;
}
.navbar__exit-img:hover {
  transform: scale(1.2);
}
.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar__left,
.navbar__right {
  display: flex;
  align-items: center;
}
.navbar__left {
  justify-content: flex-start;
}
.navbar__right {
  justify-content: flex-end;
}
.navbar__logo {
  margin: 0 10px;
  pointer-events: none;
  user-select: none;
}
.navbar__link {
  text-decoration: none;
  color: inherit;
  font-family: 'PostalShrift';
  font-size: 30px;
  position: relative;
  display: flex;
  transition: transform 2s ease-in-out;
}
.navbar__link:hover {
  animation: swing 3s ease-in-out infinite;
}
.navbar__link::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('../../assets/img/navbar-ico.png');
  background-size: cover;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.navbar__link:hover::after {
  opacity: 1;
}
.navbar__item {
  margin: 0 20px;
}
.navbar__auth {
  position: absolute;
  top: 10px;
  right: 10px;
}
.navbar__auth-link {
  margin-left: 10px;
  font-family: 'PostalShrift';
  font-size: 12px;
  text-decoration: none;
  color: inherit;
  position: relative;
}
.navbar__auth-link::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s;
}
.navbar__auth-link:hover::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 80px;
}
